html {
  box-sizing: border-box;
}
*,*:before, *:after {
  box-sizing: inherit;
}


@font-face {
    font-family: TTLakes-Regular;
    src: url(TTLakes/TTLakes-Regular.ttf);
}

@font-face {
    font-family: TTLakes-Medium;
    src: url(TTLakes/TTLakes-Medium.ttf);
}

@font-face {
    font-family: TTLakes-Bold;
    src: url(TTLakes/TTLakes-Bold.ttf);
}


html{
    background-color: lightgrey;
}

body{
    min-width: 320px;
    min-height:100vh;
    max-height:412px;
    overflow-x: hidden;
    margin:0 0 0 0;
    background-color: #F2F2F2;
    

}

.b-header{
    min-height:80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:flex-start; 
    align-items: center;
    background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
    border-top: 1px solid #D9FFF5;
}

.h-title{
    color:#7E7E82;
    font-size: 16px;
    line-height: 24px;
    word-wrap: break-word;
    font-family: TTLakes-Regular;
    margin: 16px;
}

.b-main{
    position: relative;
}
.b-main::before{
    content:"";
    width:24px;
    height:81px;
    position:absolute;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
    left:auto;
    right: 0;
    z-index:100;
}

.m-content__btn:hover{
    cursor: pointer;
    filter: drop-shadow(0 0 12px red);
}


.m-content{
    display: flex;
    flex-direction: row;
    justify-content:flex-start; 
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: hidden;
}
.m-content__item{
    max-width: 75%;
    max-height:72px;
    margin-left:16px;
    background-color: white;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    justify-content:flex-start; 
    align-items: center;
}

.m-content__item > .m-content__btn{
    margin-left: auto;
    margin-right: 16px;
}

.b-content__btn{
    display:none;
}



.swiper-pagination{
  top:88px;
}

.b-main__item{
    margin-top:24px;
    margin-bottom:38px;
}

.m-content__item:nth-child(1) > .m-content__img--label{
    height:32px;
    width:108px;
    margin-left: 16px;
}

.m-content__item:nth-child(2) > .m-content__img--label{
    width:116px;
    height:38.52px;
    margin-left: 16px;
}

.m-content__item:nth-child(3) > .m-content__img--label{
    height:44px;
    width:44px;
    margin-left: 16px;
}

.m-content__item:nth-child(4) > .m-content__img--label{
    width:128px;
    height:28.6px;
    margin-left: 16px;
}

.m-content__item:nth-child(5) > .m-content__img--label{
    height:52px;
    width:52px;
    margin-left: 10px;
}

.m-content__item:nth-child(6) > .m-content__img--label{
    height:24px;
    width: 94px;
    margin-left: 16px;
}

.m-content__item:nth-child(7) > .m-content__img--label{
    height:21px;
    width:128px;
    margin-left:14px;
}

.m-content__item:nth-child(8) > .m-content__img--label{
    width:128px;
    height: 25.6px;
    margin-left:14px;
}

.m-content__item:nth-child(9) > .m-content__img--label{
    height:32px;
    width:108px;
    margin-left: 16px;
}

.m-content__item:nth-child(10) > .m-content__img--label{
    width:116px;
    height:38.52px;
    margin-left: 16px;
}

.m-content__item:nth-child(11) > .m-content__img--label{
    height:44px;
    width:44px;
    margin-left: 16px;
}

.swiper-container {
  min-width: 320px;
  height: 110px; 
}



@media (min-width:768px){


.b-header{
    background: linear-gradient(90deg, #F8F8F8 1.39%, #FFFFFF 100%);
    min-height:56px;
}

.h-title{
    margin-left:24px;
}


.b-content__btn{
    display:flex;
    margin-bottom:34px;
}

.b-main::before{
    display:none;
}
.swiper-wrapper{
    min-width: 768px;
    height:110px;
    display: flex;
    flex-direction: row;
    justify-content:flex-start; 
    align-items: center; 
    flex-wrap: wrap;
}

.swiper-pagination{
    display:none;
}

.b-main__item{

    margin-bottom:16px;
}

.m-content__item{
    min-width: 224px;
    height:72px;
    margin-left:24px;
    margin-bottom: 16px;
    background-color: white;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    justify-content:flex-start; 
    align-items: center;
}

.m-content__item > .m-content__btn{
    margin-left: auto;
    margin-right: 16px;
}


.m-content__item--hidden{
    display: none;
}

.b-content__btn{
    border: none;
    background: none;
    padding: 0 0 0 0;
    margin-left:57px;
    font-family: TTLakes-Medium;
    font-size: 16px;
    line-height: 24px;
    color:black;
    align-self: flex-start;
    position: relative;

}

.b-content__btn::before{
    content:'';
    width:24px;
    height:40px;
    position:absolute;
    left:-29px;
    right:auto;
    position:absolute;
    background: url(img/expand.svg) no-repeat;
}

.b-content__btn--hidden{
    display:none;
}

.b-content__btn--close::before{
    transform: matrix(1,0,0,-1,0,-15);
}

}

@media (min-width:1120px){


body{
        width:1120px;
        margin:0 auto;

    }

.b-header{
    background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
}

.h-title{
    margin-left: 32px;
}
.m-content__item{
    width:240px;
    margin-left:32px;
}

.m-content__item:nth-child(7){
      display: flex;  
    }
.m-content__item:nth-child(8){
      display: flex;  
    }
}

