@media (min-width:1440px){


.b-swiper{
        width:1120px;
        margin:0 auto;
}


.sw1-h-title{
     margin-left:32px;
 }

.sw1-m-content__item{
    width:240px;
    margin-left:32px;
}

.slider--one{
    max-height:250px;
}

.sw1-b-header{
    width:100%;
}


.slider--one .sw1-m-content__item{

&:nth-child(7){
      display: flex;  
    }
&:nth-child(8){
      display: flex;  
    }

}
.slider--two .sw1-m-content__item:nth-child(4){
      display: flex; 
}



}

