

.swiper-slide--two{
    max-height:160px;
}

.slider--two {
  min-height: 216px; 


&  .sw1-m-content__btn{
    margin-top:auto;
    margin-bottom: 16px;
}
}

.swiper{
&-slider__text{
    font-size: 16px;
    line-height: 24px;
    font-family:TTLakes-Medium;
    align-self: flex-start;
    margin-left:16px;
    margin-top:16px;
}


&-pagination--two{
    top:180px;
}
}
