
.b-swiper{
    min-width: 320px;
    overflow-x: hidden;
    margin:0 0 0 0;
    background-color:$color__background;


&--first{
    min-height: 220px;
    overflow-y:hidden;
}

&--second{
    min-height: 220px;
    overflow-y:hidden;
}
}

.sw1-b-header{
    box-sizing: border-box;
    height:80px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content:flex-start; 
    align-items: center;
    background: linear-gradient(90deg, $color__background 1.39%, white 100%);
    border-top: 1px solid $color__border;
}

.sw1-h-title{
    color:$color__btn-text;
    font-size: 16px;
    line-height: 24px;
    word-wrap: break-word;
    font-family: TTLakes-Regular;
    margin: 16px ;
}

.sw1-b-main{
    position: relative;

&::before{
    content:"";
    width:24px;
    height:200px;
    position:absolute;
    background: linear-gradient(270deg, $color__background 16.84%, rgba(248, 248, 248, 0.0001) 100%);
    left:auto;
    right: 0;
    z-index:10000;
}
}



.sw1-m-content{
    display: flex;
    flex-direction: row;
    justify-content:flex-start; 
    align-items: flex-start;
    flex-wrap: nowrap;
    overflow-x: hidden;
    max-width:100vw;

&__item{
    max-width: 75vw;
    max-height:72px;
    margin-left:16px;
    background-color: white;
    border: 1px solid $color__btn;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    justify-content:flex-start; 
    align-items: center;
}

&__item:hover{
    cursor: pointer;
    border: 1px solid $color__icon;
    opacity: 0.8;
}


&__item > &__btn{
    margin-left: auto;
    margin-right: 16px;
}


&__item:nth-child(1) > &__img--label{
    height:32px;
    width:108px;
    margin-left: 16px;
}

&__item:nth-child(2) > &__img--label{
    width:116px;
    height:38.52px;
    margin-left: 16px;
}

&__item:nth-child(3) > &__img--label{
    height:44px;
    width:44px;
    margin-left: 16px;
}

&__item:nth-child(4) > &__img--label{
    width:128px;
    height:28.6px;
    margin-left: 16px;
}

&__item:nth-child(5) > %__img--label{
    height:52px;
    width:52px;
    margin-left: 10px;
}

&__item:nth-child(6) > &__img--label{
    height:24px;
    width: 94px;
    margin-left: 16px;
}

&__item:nth-child(7) > &__img--label{
    height:21px;
    width:128px;
    margin-left:14px;
}

&__item:nth-child(8) > &__img--label{
    width:128px;
    height: 25.6px;
    margin-left:14px;
}

&__item:nth-child(9) > &__img--label{
    height:32px;
    width:108px;
    margin-left: 16px;
}

&__item:nth-child(10) > &__img--label{
    width:116px;
    height:38.52px;
    margin-left: 16px;
}

&__item:nth-child(11) > &__img--label{
    height:44px;
    width:44px;
    margin-left: 16px;
}

}

.sw1-b-content__btn{
&--first{
    display:none;
}

&--second{
    display:none;
}
}


.sw1-b-main__item{
    margin-top:16px;
}

.swiper{
&-pagination{
  top:88px;
}


&-container{
  min-width: 320px;
  height: 120px; 
}
}
.swiper-slide--two{
    max-height:160px;
}

.slider--two {
  min-height: 216px; 


&  .sw1-m-content__btn{
    margin-top:auto;
    margin-bottom: 16px;
}
}

.swiper{
&-slider__text{
    font-size: 16px;
    line-height: 24px;
    font-family:TTLakes-Medium;
    align-self: flex-start;
    margin-left:16px;
    margin-top:16px;
}


&-pagination--two{
    top:180px;
}
}

.slider--three{
    height: 244px;
}

.swiper-slide{

&--three{
    max-height: 200px;
     box-sizing: border-box;
}
&__content{
    margin-left:16px;
    margin-top:16px;
    align-self: flex-start;
    position:relative;
}

&__title{
    font-size:14px;
    line-height: 16px;
    color:$color__btn-text;
    font-family:TTLakes-Regular; 
    margin-bottom: 16px;
    margin-right:16px;
}

&__value{
    font-size:14px;
    line-height: 18px;
    color:black;
}
}

.sw1-m-content__btn--order{
    position:absolute;
    left:auto;
    right:0;
    bottom:0;
    top:auto;


&--order:hover{
    opacity: 0.7;
}
}


.swiper-pagination--three{
    top:214px;
}

@media (min-width:768px){

.b-swiper{
    min-height:322px;
    max-height:100%;
}
.sw1-b-header{
    height:56px;
    box-sizing: border-box;
}

.sw1-h-title{
    margin-left:24px;  
}

.sw1-b-main::before{
    display:none;
}
.swiper-wrapper{
    min-width: 768px;
    height:160px;
    display: flex;
    flex-direction: row;
    justify-content:flex-start; 
    align-items: center; 
    flex-wrap: wrap;
}

.swiper-pagination,.swiper-pagination--two{
    display:none;
}


.sw1-b-main__item{
    margin-top:24px;
    margin-bottom:24px;
    margin-left:auto;
    margin-right:auto;
}

.sw1-m-content__item{
    box-sizing: border-box;
    width: 224px;
    height:72px;
    margin-left:24px;
    margin-bottom: 16px;
    background-color: white;
    border: 1px solid $color__btn;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    justify-content:flex-start; 
    align-items: center;
}

.b-swiper--second{
    min-height:307px;
}

.slider--two {
  min-height: 160px;
}
.swiper-slide--two{
    height:160px;
}

.sw1-m-content__item > .sw1-m-content__btn{
    margin-left: auto;
    margin-right: 16px;
}


.sw1-m-content__item--hidden{
    display: none;
}

.sw1-b-content__btn{
    border: none;
    background: none;
    padding: 0 0 0 0;
    margin-left:57px;
    font-family: TTLakes-Medium;
    font-size: 16px;
    line-height: 24px;
    color:black;
    display:flex;
    align-self: flex-start;
    position: relative;
    height:58px;

}

.sw1-b-content__btn:hover{
    cursor: pointer;
    opacity: 0.6;
}

.sw1-m-content__link:hover{
    opacity: 0.6;
}

.sw1-b-content__btn:active, 
.sw1-b-content__btn:focus {
    outline: none;
}



.sw1-b-content__btn--close--first{
    margin-top:30px;
    height:38px;
}

.sw1-b-content__btn--close--second{
    margin-top:30px;
    height:38px;
}

.sw1-b-content__btn::before{
    content:'';
    width:24px;
    height:40px;
    position:absolute;
    left:-29px;
    right:auto;
    position:absolute;
    background: url(../img/expand.svg) no-repeat;
}


.sw1-b-content__btn--close--first::before{
    transform: matrix(1,0,0,-1,0,-15);
}

.sw1-b-content__btn--close--second::before{
    transform: matrix(1,0,0,-1,0,-15);
}

}

@media (min-width:1440px){


.b-swiper{
        width:1120px;
        margin:0 auto;
}


.sw1-h-title{
     margin-left:32px;
 }

.sw1-m-content__item{
    width:240px;
    margin-left:32px;
}

.slider--one{
    max-height:250px;
}




.slider--one .sw1-m-content__item:nth-child(7){
      display: flex;  
    }
.slider--one .sw1-m-content__item:nth-child(8){
      display: flex;  
    }
.slider--two .sw1-m-content__item:nth-child(4){
      display: flex; 
}



}

