html {
  box-sizing: border-box;
}
*,*:before, *:after {
  box-sizing: inherit;
}


@font-face {
    font-family: TTLakes-Regular;
    src: url(TTLakes/TTLakes-Regular.ttf);
}

@font-face {
    font-family: TTLakes-Medium;
    src: url(TTLakes/TTLakes-Medium.ttf);
}

@font-face {
    font-family: TTLakes-Bold;
    src: url(TTLakes/TTLakes-Bold.ttf);
}

body{
    min-width: 320px;
    overflow-x: hidden;
    margin:0 0 0 0;
}


.b-header{
    min-height:88px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:flex-start; 
    align-items: center;
    background-color: white;
}

.h-button--position--end{
    margin-left:auto; 
}


.h-button__btn{
    border: none;
    background: none;
    padding: 0 0 0 0;
}

.h-logo__img{
    width:96.55px;
    height:50.81px;
    margin-right: auto;
}

.h-button__img{
    width:40px;
    height:40px;
}

.h-button--position--end{
    display:flex;
    justify-content:flex-end; 
}

.h-button > .h-button__btn:only-child{
    margin-left: 16px;
    margin-right: 16.73px;
}

.h-button--position--end > .h-button__btn:nth-child(1){
    margin-right: 16px;
    display:none;
}

.h-button--position--end > .h-button__btn:nth-child(2){
    margin-right: 16px;
    display:none;
}

.h-button--position--end > .h-button__btn:nth-child(3){
    margin-right: 42px;
    display:none;
}

.h-button--position--end > .h-button__btn:nth-child(4){
    position:relative;
}
.h-button--position--end > .h-button__btn:nth-child(4)::before{
    content:"";
    width:2px;
    height:32px;
    border-radius:1px;
    background-color:#EAEAEA;
    position:absolute;
    top:6px;
    left:-22px;
}

.h-button--position--end > .h-button__btn:last-child{
    margin-left: 16px;
    margin-right: 16px;
}


.b-main{
    margin:0 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content:flex-start; 
    align-items:flex-start;
    background-color: #F8F8F8;
    border-top: 1px solid #D9FFF5;
    height:100vh;
}


.b-main__title{
    line-height:40px;
    font-size: 28px;
    margin:24px  0px 0px 16px;
    font-family: TTLakes-Bold;
    color:#1B1C21; 
}
.b-main__title{
    position:relative;
}

.b-main__title::before{
    content:"";
    width:4px;
    height:40px;
    background-color:#41F6D7;
    position:absolute;
    top:0px;
    bottom:0px;
    left:-16px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}



.b-button::-webkit-scrollbar{
    display:none;
}


.b-menu__item{
    margin-top: 24px;
    margin-bottom: 24px;
    width: 100%;
    min-height:40px;
    display:flex;
    overflow-x: auto;
    justify-content: flex-start;
    padding:0;
}

.b-menu__item::before{
    content:"";
    width:24px;
    height:40px;
    position:absolute;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
    left:auto;
    right:0px;
}

.b-button__btn{
    height:40px;
    white-space:nowrap;
    border: none;
    background: none;
    text-decoration:none;
    padding:0 13px 0 13px ;
    
}

.b-button__name{
    font-family: TTLakes-Medium;
    font-size: 16px;
    line-height:40px;
    color: #7E7E82;
    text-align: center;
    vertical-align: center;
}

.b-button__btn:first-child{
    margin-left:16px;
}

.b-button__btn--selected{
    background-color:white;
    border: 2px solid #B8FFEC;
    border-radius: 6px;

}

.b-content{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    min-width:320px;
}

.b-content__text{
    margin-bottom:16px;
    min-width:auto;
    margin-left:16px;
    margin-right:16px;
    padding: 0;
}

.b-content__desc{
    font-family: TTLakes-Regular;
    font-size: 14px;
    white-space:wrap;
    line-height: 18px;
    margin: 0;
    padding: 0;
}

.b-content__desc--appear--768{
    display: none;
}

.b-content__desc--appear--1120{
    display: none;
}


.b-content__btn{
    border: none;
    background: none;
    padding: 0 0 0 0;
    margin-top:16px;
    margin-left:32px;
    font-family: TTLakes-Medium;
    font-size: 16px;
    color:black;
    align-self: flex-start;
    position: relative;

}

.b-content__btn::before{
    content:"";
    width:24px;
    height:40px;
    position:absolute;
    left:-29px;
    right:auto;
    position:absolute;
    background: url(img/expand.svg) no-repeat;
}


.b-content__img{
    width: 100%;
    height: auto;
}

@media (min-width:768px){
.h-button--position--end > .h-button__btn:nth-child(1){
    display:flex;
}

.h-button--position--end > .h-button__btn:nth-child(2){
    display:flex;
}

.h-button--position--end > .h-button__btn:nth-child(3){
    margin-right: 42px;
    display:flex;
}

.b-content__desc--appear--768{
    display: flex
}

.b-main__title,.b-content__text, .b-button__btn:first-child{
    margin-left:24px;
}

.h-button > .h-button__btn:only-child{
    margin-left:24px;
    position: relative;
}

.h-button > .h-button__btn:only-child::after{
    content:"";
    width:2px;
    height:32px;
    border-radius:1px;
    background-color:#EAEAEA;;
    position:absolute;
    top:6px;
    right:-22px;
}

.b-main__title::before{
    left:-24px;
}

.b-content__desc{
    line-height: 24px;
}

.b-content__btn{
    margin-left:33px;
    margin-top: 10px;
}

.h-logo__img{
    width:96.55px;
    height:50.81px;
    margin-left:22.73px;
}

.b-menu__item{
    margin-top: 32px;
}

.b-content{
    flex-wrap: nowrap;
}

.b-content__img{
    min-width:360px;
    margin-right:25px;
    border-radius: 10px;
}
.b-content__text{
    min-width: 312px;
    margin-right: 48px;
}


}

@media (min-width:1120px){

html{
    background-color: lightgrey;
}

body{
        width:1120px;
    }
.b-content__desc--appear--1120{
    display: block;
}


.b-main{
    border-top: none;
    margin-top: -44px;
}

.b-main__title,.b-content__text{
    margin-left:32px;
}

.b-main__title{
    margin-top: 0;
    margin-bottom: 8.37px;
}

.b-main__title::before{
    left:-32px;
}

.h-button__btn:only-child{
    display: none;
}

.h-logo{
    display: none;
}

.h-button--position--end > .h-button__btn:first-child{
    display: none;
}

.h-button--position--end > .h-button__btn:nth-child(2){
    display: none;
}

.h-button--position--end > .h-button__btn:nth-child(3){
    display: none;
}


.b-header{
    background-color: #F8F8F8;
    border-top: none;
    align-items: flex-end;
}


.b-menu__item{
    flex-wrap: wrap;
    padding-left: 32px;
    padding-right: 32px;
    margin-bottom:19.22px;
    margin-top: 2.37px;
    width:1120px;
    min-height:80px;

}

.b-menu__item::before{
    display:none;
}

.b-button__btn{
    padding: 0 17px 0 17px;
}

.b-content__text{
    margin-right: 36px;
}

.b-content__text *{
    display: inline;
}

.b-button__btn:first-child{
    margin-left:0px;
}

.b-content__btn{
    margin-top: 13.78px;
}

.b-content__img{
    margin-right:28.65px;
}

.h-button--position--end > .h-button__btn:nth-child(4)::before{
    content:"Оставить заявку";
    width:auto;
    height:auto;
    background-color: unset;
    font-size: 16px;
    line-height: 24px;
    font-family: TTLakes-Medium;
    white-space: nowrap;
    position:absolute;
    top:6px;
    left:-133px;
}

.h-button--position--end > .h-button__btn:last-child{
    margin-right: 32px;
    margin-left: 160px;
    position:relative;
}
.h-button--position--end > .h-button__btn:last-child::before{
    content:"Статус ремонта";
    width:auto;
    height:auto;
    background-color: unset;
    font-size: 16px;
    line-height: 24px;
    font-family: TTLakes-Medium;
    white-space: nowrap;
    position:absolute;
    top:6px;
    left:-133px;
}


}